<div id="header">
    <h1>Storyline</h1>

    <div id="btn-share">
        <a href="https://twitter.com/intent/tweet?text=Storyline: {{storyline.storyline.title}}&url={{storyline.storylineURI}}">Share</a>
    </div>

    {{#if storyline.background}}
        <div id="btn-why">
            <a href="#why">Why?</a>
        </div>
    {{/if}}
</div>