<div class="topic-article article">
    <h2>{{preferredLabel}}</h2>
    <p class="date">{{date eventStartDate}}</p>
    {{#if thumbnail}}
        <img src="{{thumbnail}}" alt="{{ preferredLabel }}" />
    {{/if}}
    <div class="article-content">
        <div class="introduction">
            <div class="thumb">
                <img src="http://ichef.bbci.co.uk/news/235/media/images/74595000/jpg/_74595283_022110683-1.jpg" />
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed tempor urna. Suspendisse congue, arcu at dictum volutpat, ante risus placerat massa, sed condimentum nisi dui ac est. Proin condimentum rhoncus felis ut aliquam. Donec urna arcu, commodo nec urna facilisis.</p>
        </div>
        <div class="related">
            <div class="story clearfix">
                <div class="thumb">
                    <img src="http://ichef.bbci.co.uk/news/235/media/images/74595000/jpg/_74595283_022110683-1.jpg" />
                </div>
                <div class="sub-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed tempor urna.</p>
                </div>
            </div>
            <div class="story clearfix">
                <div class="thumb">
                    <img src="http://ichef.bbci.co.uk/news/235/media/images/74595000/jpg/_74595283_022110683-1.jpg" />
                </div>
                <div class="sub-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed tempor urna.</p>
                </div>
            </div>
            <div class="story clearfix">
                <div class="thumb">
                    <img src="http://ichef.bbci.co.uk/news/235/media/images/74595000/jpg/_74595283_022110683-1.jpg" />
                </div>
                <div class="sub-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed tempor urna.</p>
                </div>
            </div>
        </div>
    </div>
</div>