<div class="topic-article article">
    <h2>{{preferredLabel}}</h2>
    <p class="date">{{date eventStartDate}}</p>
    {{#if thumbnail}}
        <img src="{{thumbnail}}" alt="{{ preferredLabel }}" />
    {{/if}}
    <div class="article-content">
        Article content
    </div>
</div>