.btn-share {
    a {
        display: block;
        width: 72px;
        height: 72px;
        text-indent: -9999px;
        background: $highlight url('/img/share.png') no-repeat 8px 8px;
    }

    .header & {
        position: absolute;
        top: -8px;
        right: 0;
    }
}