.header {
    position: relative;
    border-bottom: 2px solid $highlight;

    h1 {
        display: block;
        width: 240px;
        height: 44px;
        margin: 8px 0 6px;
        text-indent: -9999px;
        background: url('/img/logo.png') no-repeat 8px 0;
    }
}
.title {
    margin: 16px 8px;

    h1 {
        margin: 0 108px;
        font-size: 1.5em;
    }
}