.header {
    font-family: "Helvetica", Arial, "sanserif";
    position: relative;
    border-bottom: 2px solid $highlight;

    h1 {
        display: block;
        width: 240px;
        height: 32px;
        margin: 8px 0;
        text-indent: -9999px;
        background: url('/img/logo.png') no-repeat 4px 4px;
    }
}
.title {
    margin: 16px 8px;

    h1 {
        font-size: 1.5em;
    }
}