.widget {
    width: 480px;
    border: 1px solid #E1E1E1;
    overflow: hidden;

    &.small {
        width: 320px;
    }
}

.header-group {
    position: relative;
    padding: 0 0 0 56px;
}

.content {
    padding: 8px;
    background: $highlight;
    height: 100%;
    width: 300%;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.8s ease-in-out;
    -webkit-transform: translateX(-32.75%);
    transform: translateX(-32.75%);

    &.back {
        transform: translateX(0%);
    }
    &.forward {
        transform: translateX(-65.5%);
    }
}

.slide {
    float: left;
    padding: 0 8px;
    width: 32.95%;
}