.widget {
    width: 480px;
    border: 1px solid #E1E1E1;
    background-color: #FFF;
    overflow: hidden;

    &.small {
        width: 320px;
    }

    &.medium {
        width: 320px;
    }

    &.large {
        width: auto;
    }
}

.header-group {
    position: relative;
    padding: 0 0 0 56px;
}

.content {
    padding: 8px;
    background: $highlight;
    height: 100%;
    width: 300%;
    transition: all 0.8s ease-in-out;
    -webkit-transform: translateX(-33.3333333333333333%);
    transform: translateX(-33.3333333333333333%  );

    &.back {
        transform: translateX(0%);
    }
    &.forward {
        -webkit-transform: translateX(-66.33333333333%);
        transform: translateX(-66.333333333%);
    }
}

.large {
    .content.forward {
        -webkit-transform: translateX(-66.5%);
        transform: translateX(-66.5%);
    }
}

.stream-time {
    font-size: 18px;
}

.slide {
    float: left;
    padding: 0 8px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 33.3333333333333333%;
}