.widget {
    width: 480px;
    border: 1px solid #E1E1E1;

    &.small {
        width: 320px;
    }
}

.content {
    padding: 8px;
    background: $highlight;
    height: 100%;
    overflow: scroll;
}