.article {
    padding: 8px;
    background: $white;

    h2 {
        font-size: 1.66666666666667em;
        margin: 0 0 8px;
    }
    .date {
        color: $topics;
    }
    img {
        margin: 8px 0;
    }
}