.article {
    padding: 8px;
    background: $white;

    h2 {
        font-size: 1.66666666666667em;
        margin: 0 0 8px;
    }
    .date {
        color: $topics;
    }
    .introduction, .main-thumb {
        img {
            width: 100%;
        }
    }
    .related {
        img {
            float: left;
            width: 33%;
            margin-top: 0;
        }
        .sub-content {
            float: right;
            width: 62%;
        }

        .large & {
            img {
                width: 33%;
            }
            .sub-content {
                float: right;
                width: 65%;
            }
        }
    }
    img {
        margin: 8px 0;
    }
}

.news-articles {
    .synopsis {
        float: left;
        width: 32%;
    }
    .articles {
        float: right;
        width: 65%;
    }
    .articles-below {
        clear: both;

        .article {
            float: left;
            width: 31%;
            margin-right: 1%;

            img {
                width: 150px;
            }
        }
    }


}