.topics-list {
    margin: 0 0 8px;
    padding: 0;
    list-style: none;
    @include clearfix;

    .topic {
        float: left;
        display: block;
        padding: 0 8px 0 16px;
        background: $topics url(/img/dots.png) 4px 4px no-repeat;
        margin: 0 4px 0 4px;
        text-decoration: none;
        color: $white;
        line-height: 24px;

        &:hover {
            text-decoration: underline;
        }
    }
}