<div class="widget {{ size }}" data-story="{{ story }}">
    <div class="header">

    </div>

    <div class="header-group">
        <div class="title">

        </div>

        <div class="navigation">

        </div>

        <div class="topics">

        </div>
    </div>

    <div class="content">
        <div class="first slide">

        </div>
        <div class="second slide">

        </div>
        <div class="third slide">

        </div>
    </div>
</div>