<h1>News hack</h1>
<h2><a href="http://newshack-api.herokuapp.com/">Try the storyline editor.</a></h2>

<h2>Example Project</h2>

<ul>
    <li>
        <a href="/preview/side/536384d3bb2a070200f29a79?title=Israeli-Palestinian%20peace%20process">Article View</a>
    </li>
    <li>
        <a href="/preview/full/536384d3bb2a070200f29a79?title=Israeli-Palestinian%20peace%20process">Full View</a>
    </li>
    <li>
        <a href="/preview/stream/536384d3bb2a070200f29a79?title=Israeli-Palestinian%20peace%20process">Stream View</a>
    </li>
</ul>