<h1>News hack</h1>
<ul>
    <li>
        <a href="/preview/side/536384d3bb2a070200f29a79?title=Jim%27s%20Israeli-Palestinian%20project">Article View</a>
    </li>
    <li>
        <a href="/preview/full/536384d3bb2a070200f29a79?title=Jim%27s%20Israeli-Palestinian%20project">Full View</a>
    </li>
    <li>
        <a href="/preview/stream/536384d3bb2a070200f29a79?title=Jim%27s%20Israeli-Palestinian%20project">Stream View</a>
    </li>
</ul>