<div class="row">
  <div class="col-md-8">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vehicula leo a lobortis rutrum. Cras feugiat orci at nisi gravida, quis feugiat dolor placerat. Mauris vitae purus dictum, accumsan massa in, venenatis dui. Praesent vitae orci et justo feugiat consectetur in ac nulla. Sed eu vulputate neque, in lacinia leo. Sed sed commodo justo. Aenean sit amet erat imperdiet, aliquet nulla in, cursus turpis. In iaculis, turpis at congue iaculis, dolor enim vulputate ipsum, a pretium nisi libero et eros. Sed tempor sem eu mauris viverra, ac venenatis velit lacinia. Nunc volutpat nec nisl ac adipiscing. Nullam ac felis lorem. Pellentesque mi dui, varius id nulla sed, blandit egestas elit. Praesent bibendum libero euismod molestie hendrerit.</p>

    <p>Nulla tristique dictum nunc, vel commodo enim accumsan eget. Sed leo sapien, bibendum at molestie id, pharetra quis massa. Nunc tincidunt nec nibh sit amet cursus. Etiam luctus elit at ipsum convallis lacinia. Nam vitae lacus sit amet sem laoreet varius. Mauris et lorem sollicitudin, facilisis lacus vitae, tempor lectus. Nullam scelerisque nec tortor quis commodo.</p>

    <p>Mauris ac tortor vitae lectus suscipit condimentum id et purus. Ut aliquam sit amet tortor id vehicula. Nunc eleifend mollis dui vel facilisis. Ut in porta tortor, pellentesque interdum justo. Aenean ut ultrices dolor. Quisque nunc lacus, vehicula eget porttitor nec, rhoncus eu lorem. Proin massa odio, euismod venenatis enim sit amet, semper tristique turpis. Integer nulla lorem, aliquam quis tincidunt eu, sagittis rhoncus metus. Mauris eleifend dapibus tortor rutrum venenatis. Etiam et tellus ornare, lacinia diam at, vestibulum erat.</p>

    <p>Vestibulum pharetra nulla non quam congue laoreet. Donec varius ut eros porttitor tincidunt. Suspendisse fringilla elit convallis pretium aliquam. Proin dictum sapien id dui consectetur, in euismod tortor venenatis. Nulla diam eros, euismod id quam ut, interdum cursus orci. Morbi at sem non dui laoreet tincidunt. Morbi sem nisi, pellentesque et scelerisque eget, pellentesque in augue. Aenean at posuere ipsum.</p>

    <p>Nulla accumsan, diam at viverra pretium, orci magna laoreet est, eu gravida urna enim eu libero. Pellentesque elementum lectus id arcu tempus vehicula. Phasellus purus eros, condimentum sed feugiat at, venenatis a dui. Ut vitae urna diam. Integer vehicula imperdiet suscipit. Etiam sit amet vulputate mauris. Morbi hendrerit metus ipsum, ac ullamcorper orci sollicitudin a. Aliquam a erat quis dolor mattis fermentum. Proin sed ligula quis velit adipiscing rutrum. Etiam lacinia ligula eget lacus tristique tincidunt. Sed commodo scelerisque lorem vitae fermentum. Sed facilisis lacinia sem. Proin luctus congue viverra. Nullam tempor mi sit amet blandit sollicitudin.</p>

    <p>Fusce elementum, augue quis convallis venenatis, quam lorem laoreet magna, in volutpat felis nisi eget purus. In vitae tristique metus. Cras quis bibendum dui. Praesent ultricies hendrerit suscipit. Integer metus dui, luctus ac convallis sit amet, molestie nec odio. Aliquam consequat nulla a enim euismod adipiscing. Morbi quis sollicitudin libero. Proin commodo id felis pretium lacinia.</p>

    <p>Suspendisse consectetur mollis arcu, placerat consequat erat tempor ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam erat volutpat. Vestibulum sed placerat nisl. Sed felis turpis, sodales in sollicitudin sed, porttitor vel nisl. Nam molestie pharetra dolor a elementum. Vestibulum vel venenatis odio. Morbi bibendum justo vitae dui commodo, id vestibulum massa molestie.</p>
  </div>

  <div class="col-md-4">
    <div class="widget small" data-story="{{ story }}">
        <div class="header">

        </div>

        <div class="header-group">
            <div class="title">

            </div>

            <div class="navigation">

            </div>

            <div class="topics">

            </div>
        </div>

        <div class="content">
            <div class="first slide">

            </div>
            <div class="second slide">

            </div>
            <div class="third slide">

            </div>
        </div>
    </div>
  </div>
</div>