<div class="widget" data-story="{{ story }}">
    <div class="header">

    </div>

    <div class="title">

    </div>

    <div class="topics">

    </div>

    <div class="content">

    </div>
</div>