<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- bower:css -->
        <link rel="stylesheet" href="/styles/app.css">
        <!-- bower:css -->
        <script src="lib/modernizr/modernizr.js"></script>
    </head>

        {{{body}}}

        <!-- bower:js -->
            <script src="lib/jquery/dist/jquery.js"></script>
        <!-- bower:js -->
    </body>
</html>